.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        width: var(--layout-width);
        display: flex;
    }

    .content{

    }
}